.control {
  --control-border-color: var(--theme-neutral-color-7);
  --control-color: var(--theme-neutral-color-9);
  --control-padding: 4px;
  --control-label-color: rgb(150, 150, 150);

  --control-hover-border-color: rgb(150, 150, 150);
}

.control {
  border: 1px solid var(--control-border-color);
  display: flex;
  color: var(--control-color);
  padding: var(--control-padding);
  position: relative;
}

  .control:hover {
    border-color: var(--control-hover-border-color);
  }

  .control select {
    flex: 1;
    display: block;
  }


/* buttons */

.button {
  text-align: center;
  padding: 0;
  border: 0;
}

  .button button {
    background-color: transparent;
    border: 1px solid var(--control-border-color);
    /* border-radius: var(--theme-border-radius); */
    color: var(--control-color);
    cursor: pointer;
    margin: 0;
    min-width: 30px;
    padding: var(--control-padding) 15px;
    text-align: center;
  }

  .button button:hover {
    border-color: var(--control-hover-border-color);
  }

  .button button:active {
  }

  /* flavors */

  .buttonIsPrimary button {
    border-color: var(--theme-primary-color);
    color: var(--theme-primary-color);
  }

  .buttonIsPrimary button:hover {
    border-color: var(--theme-primary-color-light);
    color: var(--theme-primary-color-light);
  }

  .buttonIsPrimary button:active {
    background-color: rgba(var(--theme-primary-color-rgb), 0.1)
  }

  .buttonIsNarrow {
  }

    .buttonIsNarrow button {
      padding: 2px 0 0 0;
    }


/* select */

.select {
  cursor: pointer;
}

  .select select {
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--control-color);
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
    text-align-last: right;    
  }

    .select select option {
      direction: rtl;
    }


  .select select::-ms-expand {
    display: none;
  }

  /* .select::after {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -4px;
    content: "";
    width: 8px;
    height: 6px;
    background-color: var(--control-border-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  .select:hover::after {
    background-color: var(--control-hover-border-color);
  } */

  .select label {
    padding-right: 5px;
    color: var(--control-label-color);
  }