.menu {
  background-color: red;
  background: repeating-linear-gradient(to right,
    var(--theme-palette-red) 0%,
    var(--theme-secondary-color) 33%,
    var(--theme-primary-color) 66%,
    var(--theme-palette-red) 100%
  );
  background-size: 200% auto;
  background-position: 0 100%;
  animation: menu 20s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  padding-left: 0;
}

  @keyframes menu { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }


.menuBefore a,
.menuAfter a {
  color: var(--theme-neutral-color-10);
  cursor: pointer;
  cursor: pointer;
  display: block;
  height: 31px;
  overflow: hidden;
  transition: all 0.2s;
}

  .menuBefore a:hover,
  .menuAfter a:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

.menuBefore a {
  padding: 7px 9px 6px 8px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.menuAfter a {
  padding: 5px 6px;
  color: var(--theme-neutral-color-10);
  font-size: 20px;
}
