.debugger {
  background-color: rgba(var(--theme-color-error), 0.6);
  padding: 15px 25px;
  color: #fff;
  position: absolute;
  bottom: 75px;
  left: 25px;
  right: 25px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(var(--theme-color-error), 0.8);
  box-shadow: 0px 5px 25px #000000;
}

.debugger:hover {
  background-color: rgba(var(--theme-color-error), 0.7);
  cursor: pointer;
}

.debuggerSummary {
  font-weight: bold;
}

.debuggerDetails {
  margin-top: 5px;
}