@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* brand colors */
:root {
  --brand-color-1: 37, 105, 246;
  --brand-color-2: 46, 207, 235;
  --brand-color-3: 32, 212, 190;
  --brand-color-4: 37, 246, 161;
}

/* base theme */
:root {

  /* primary color */
  --theme-primary-color-rgb: 46, 207, 235;
  --theme-primary-color-light-rgb: 66, 227, 255;
  --theme-primary-color-dark-rgb: 6, 127, 155;
  --theme-primary-color: rgb(var(--theme-primary-color-rgb));
  --theme-primary-color-light: rgb(var(--theme-primary-color-light-rgb));
  --theme-primary-color-dark: rgb(var(--theme-primary-color-dark-rgb));

  /* secondary color */
  --theme-secondary-color-rgb: 243, 114, 44;
  --theme-secondary-color-light-rgb: 255, 134, 66;
  --theme-secondary-color-dark-rgb: 203, 74, 4;
  --theme-secondary-color: rgb(var(--theme-secondary-color-rgb));
  --theme-secondary-color-light: rgb(var(--theme-secondary-color-light-rgb));
  --theme-secondary-color-dark: rgb(var(--theme-secondary-color-dark-rgb));

  /* tertiary color */
  --theme-tertiary-color-rgb: 144, 190, 109;
  --theme-tertiary-color: rgb(var(--theme-tertiary-color-rgb));
  --theme-tertiary-color-light-rgb: 164, 210, 129;
  --theme-tertiary-color-light: rgb(var(--theme-tertiary-color-light-rgb));
  --theme-tertiary-color-dark-rgb: 104, 150, 69;
  --theme-tertiary-color-dark: rgb(var(--theme-tertiary-color-dark-rgb));

  /* color palette */
  --theme-palette-red-rgb: 214, 4, 39;
  --theme-palette-red-lighter-rgb: 249, 65, 68;
  --theme-palette-orange-rgb: 243, 114, 44;
  --theme-palette-orange-lighter-rgb: 248, 150, 30;
  --theme-palette-yellow-rgb: 249, 199, 79;
  --theme-palette-green-rgb: 144, 190, 109;
  --theme-palette-aqua-rgb: 67, 170, 139;
  --theme-palette-blue-lighter-rgb: 81, 145, 214;
  --theme-palette-blue-rgb: 11, 11, 254;
  --theme-palette-purple-rgb: 204, 80, 181;
  --theme-palette-red: rgb(var(--theme-palette-red-rgb));
  --theme-palette-red-lighter: rgb(var(--theme-palette-red-lighter-rgb));
  --theme-palette-orange: rgb(var(--theme-palette-orange-rgb));
  --theme-palette-orange-lighter: rgb(var(--theme-palette-orange-lighter-rgb));
  --theme-palette-yellow: rgb(var(--theme-palette-yellow-rgb));
  --theme-palette-green: rgb(var(--theme-palette-green-rgb));
  --theme-palette-aqua: rgb(var(--theme-palette-aqua-rgb));
  --theme-palette-blue-lighter: rgb(var(--theme-palette-blue-lighter-rgb));
  --theme-palette-blue: rgb(var(--theme-palette-blue-rgb));
  --theme-palette-purple: rgb(var(--theme-palette-purple-rgb));

  /* neutral colors for UI detailing */
  --theme-neutral-color-0-rgb: 0, 0, 0;
  --theme-neutral-color-1-rgb: 10, 10, 10;
  --theme-neutral-color-2-rgb: 20, 20, 20;
  --theme-neutral-color-3-rgb: 30, 30, 30;
  --theme-neutral-color-4-rgb: 40, 40, 40;
  --theme-neutral-color-5-rgb: 50, 50, 50;
  --theme-neutral-color-6-rgb: 60, 60, 60;
  --theme-neutral-color-7-rgb: 90, 90, 90;
  --theme-neutral-color-8-rgb: 130, 130, 130;
  --theme-neutral-color-9-rgb: 200, 200, 200;
  --theme-neutral-color-10-rgb: 255, 255, 255;
  --theme-neutral-color-0: rgb(var(--theme-neutral-color-0-rgb));
  --theme-neutral-color-1: rgb(var(--theme-neutral-color-1-rgb));
  --theme-neutral-color-2: rgb(var(--theme-neutral-color-2-rgb));
  --theme-neutral-color-3: rgb(var(--theme-neutral-color-3-rgb));
  --theme-neutral-color-4: rgb(var(--theme-neutral-color-4-rgb));
  --theme-neutral-color-5: rgb(var(--theme-neutral-color-5-rgb));
  --theme-neutral-color-6: rgb(var(--theme-neutral-color-6-rgb));
  --theme-neutral-color-7: rgb(var(--theme-neutral-color-7-rgb));
  --theme-neutral-color-8: rgb(var(--theme-neutral-color-8-rgb));
  --theme-neutral-color-9: rgb(var(--theme-neutral-color-9-rgb));
  --theme-neutral-color-10: rgb(var(--theme-neutral-color-10-rgb));

  /* background color of app (should contrast with other colors) */
  --theme-background-color: 25, 25, 25;

  /* links */
  --theme-link-color: var(--theme-primary-color);

  /* body text */
  --theme-body-font-family: -apple-system, system-ui, "Segoe WPC", "Segoe UI", HelveticaNeue-Light, system-ui, Ubuntu, "Droid Sans", sans-serif;
  --theme-body-font-size: 9pt;
  --theme-body-color: #fff;
  --theme-fixed-font-family: Menlo, Monaco, "Courier New", monospace;

  /* colors by purpose */
  --theme-error-color: var(--theme-palette-red);

  /* generic values */
  --theme-border-radius: 3px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--theme-body-font-family);
  font-size: var(--theme-body-font-size);
  background-color: rgb(var(--theme-background-color));
  color: var(--theme-body-color);
  overflow: hidden;
  height: 100vh;
}


/* links */

a, a:link, a:visited {
  color: var(--theme-link-color);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  font-size: 20px;
}

p {
}

p a, 
p a:link, 
p a:visited {
  color: var(--theme-link-color);
}

/* misc */

#__next {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nextjs-portal {
  display: none;
}

.mosaic {
  background-color: transparent;
}

.mosaic-tile {
  display: flex;
  margin: 0;
}

.mosaic-split.-column:hover,
.mosaic-split.-row:hover {
    background-color: var(--theme-primary-color-dark);
}