.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: repeating-linear-gradient(to right,
    var(--theme-palette-red) 0%,
    var(--theme-secondary-color) 33%,
    var(--theme-primary-color) 66%,
    var(--theme-palette-red) 100%
  );
  background-size: 200% auto;
  background-position: 0 100%;
  animation: logo 5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

  .logo > span:first-child {
  }

  .logo > span:last-child {
    text-transform: uppercase;
    font-family: 'Poiret One';
  }

  @keyframes logo { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }