.libraryPanel {
  background-color: rgb(40, 40, 40);
  flex: 1;
}

.treeGroup {
  padding: 3px 6px;
  font-weight: bold;
}

  .treeGroup svg {
    vertical-align: -2px;
    margin-right: 4px;
  }

.treeResource {
  padding: 3px 6px 3px 16px;
  font-weight: 300;
}

  .treeResource svg {
    vertical-align: -2px;
    margin-right: 4px;
  }