.tabs {
  --background-color: transparent;
  --border-color: rgb(60, 60, 60);
  --tab-background-color: rgb(30, 30, 30);
  --active-color: rgba(var(--brand-color-2), 1);
  --active-text-color: #ffffff;
  --inactive-text-color: #ffffff88;
}

.tabs {
  background-color: var(--background-color);
  height: 40px;
  display: flex;
  flex-direction: row;
  color: #fff;
  border-bottom: 1px solid var(--border-color);
}

.tabSpace {
  flex: 1;
}

.tab {
  background-color: var(--tab-background-color);
  border: 1px solid var(--border-color);
  border-top-left-radius: var(--theme-border-radius);
  border-top-right-radius: var(--theme-border-radius);
  border-top: 3px solid var(--border-color);
  border-bottom-color: var(--border-color);
  color: var(--brand-color-2);
  cursor: pointer;
  font-weight: light;
  margin: 9px 0 -1px 5px;
  min-width: 25px;
  padding: 7px 10px 10px 10px;
  text-align: center;
}

  .tabIcon {
  }

  .tabLabel {
    vertical-align: 1px;
    margin: 0 10px;
  }

  .tabMenu {
    color: #ffffff55;
  }

  .tabMenu:hover {
    color: rgb(var(--brand-color-2), 1);
  }

.tabIsSelected {
  border-top: 3px solid rgba(var(--brand-color-2), 1);
  border-bottom: 1px solid var(--background-color);
}

  .tabIsSelected a {
    color: var(--active-text-color);
  }

  .tabIsSelected .tabIcon {
    color: rgba(var(--brand-color-2), 1);
    display: inline-block;
  }

  .tabIsSelected .tabMenu {
    display: inline-block;
  }

.tabIsUnselected a {
  color: var(--inactive-text-color);
}

.tabIsUnselected a:hover {
  color: var(--active-text-color);
}

  .tabIsUnselected .tabIcon {
    /* display: none; */
  }

  .tabIsUnselected .tabMenu {
    /* display: none; */
  }

