@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* brand colors */
:root {
  --brand-color-1: 37, 105, 246;
  --brand-color-2: 46, 207, 235;
  --brand-color-3: 32, 212, 190;
  --brand-color-4: 37, 246, 161;
}

/* base theme */
:root {

  /* primary color */
  --theme-primary-color: rgb(46, 207, 235);
  --theme-primary-color-light: rgb(66, 227, 255);
  --theme-primary-color-dark: rgb(6, 127, 155);

  /* secondary color */
  --theme-secondary-color: rgb(243, 114, 44);
  --theme-secondary-color-light: rgb(255, 134, 66);
  --theme-secondary-color-dark: rgb(203, 74, 4);

  /* color palette */
  --theme-palette-red: #D60427;
  --theme-palette-red-lighter: #F94144;
  --theme-palette-orange: #f3722c;
  --theme-palette-orange-lighter: #f8961e;
  --theme-palette-yellow: #f9c74f;
  --theme-palette-green: #90be6d;
  --theme-palette-aqua: #43aa8b;
  --theme-palette-blue-lighter: #5191d6;
  --theme-palette-blue: #0b0bfe;
  --theme-palette-purple: #cc50b5;

  /* neutral colors for UI detailing */
  --theme-neutral-color-0: rgb(0, 0, 0);
  --theme-neutral-color-1: rgb(10, 10, 10);
  --theme-neutral-color-2: rgb(20, 20, 20);
  --theme-neutral-color-3: rgb(30, 30, 30);
  --theme-neutral-color-4: rgb(40, 40, 40);
  --theme-neutral-color-5: rgb(50, 50, 50);
  --theme-neutral-color-6: rgb(70, 70, 70);
  --theme-neutral-color-7: rgb(90, 90, 90);
  --theme-neutral-color-8: rgb(130, 130, 130);
  --theme-neutral-color-9: rgb(200, 200, 200);
  --theme-neutral-color-10: rgb(255, 255, 255);

  /* background color of app (should contrast with other colors) */
  --theme-background-color: 25, 25, 25;

  /* body text */
  --theme-body-font-family: -apple-system, system-ui, "Segoe WPC", "Segoe UI", HelveticaNeue-Light, system-ui, Ubuntu, "Droid Sans", sans-serif;
  --theme-body-font-size: 9pt;
  --theme-body-color: #fff;
  --theme-fixed-font-family: Menlo, Monaco, "Courier New", monospace;

  /* colors by purpose */
  --theme-color-error: 255, 51, 35;

  /* generic values */
  --theme-border-radius: 3px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--theme-body-font-family);
  font-size: var(--theme-body-font-size);
  background-color: rgb(var(--theme-background-color));
  color: var(--theme-body-color);
  overflow: hidden;
  height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nextjs-portal {
  display: none;
}

.mosaic {
  background-color: transparent;
}

.mosaic-tile {
  display: flex;
  margin: 0;
}

.mosaic-split.-column:hover,
.mosaic-split.-row:hover {
    background-color: var(--theme-primary-color-dark);
}