.loadingBar {
  position: relative;
  background: repeating-linear-gradient(to right,
    var(--theme-primary-color-light) 0%,
    rgba(var(--theme-primary-color-rgb), 0.5) 35%,
    rgba(var(--theme-primary-color-rgb), 0.35) 50%,
    rgba(var(--theme-primary-color-rgb), 0.5) 65%,
    var(--theme-primary-color-light) 90%,
    var(--theme-primary-color-light) 100%
  );
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

  .loadingBar > div {
    background-color: var(--theme-neutral-color-5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  @keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }
