.modal {
  --modal-background-color: var(--theme-neutral-color-3);
  --modal-gutter: 10px;
  --modal-gutter-2x: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  inset: 0;
  padding: 0 20px;
  position: fixed;
  z-index: 1000;
}

  @media screen and (max-width: 800px) {
    .overlay {
      padding: 0;
    }
  }


.modal {
  background: var(--modal-background-color);
  overflow: auto;
  border-radius: var(--theme-border-radius);
  outline: none;
  box-shadow: rgb(0 0 0) 0px 0px 50px;
  height: auto;
  margin: 100px auto;
}

  .modalTitleBar {
    border-top: 1px solid var(--theme-neutral-color-6);
    border-bottom: 1px solid var(--theme-neutral-color-6);
    background-color: var(--theme-neutral-color-5);
    text-transform: uppercase;
    padding: 4px 6px;
    font-size: 9px;
    font-family: var(--theme-fixed-font-family);
    color: var(--theme-neutral-color-8);
  }

    .modalTitleBar a {
      float: right;
      font-size: 14px;
      margin: -2px -2px 0 0;
      color: var(--theme-neutral-color-8);
    }

  .modalContent {
    padding: var(--modal-gutter-2x);
    position: relative;
  }

  .modalIndicator {
  }


  @media screen and (max-width: 800px) {
    .modal {
      margin: 0;
      height: 100% !important;
      border-radius: 0;
      display: flex;
      flex-direction: column;
    }

    .modalContent {
      flex: 1;
    }
  }

.modalActions {
  display: flex;
  flex-direction: row;
  position: relative;
}

  .modalActions > * {
    margin-right: var(--modal-gutter);
  }

  .modalActions > *:last-child {
    margin-right: 0;
  }

  .modalActionsMask {
    background-color: var(--modal-background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75;
  }

.dialog {
}

  .dialogTitle {
    font-size: 18px;
    margin-bottom: var(--modal-gutter);
  }

  .dialogText {
    margin-bottom: var(--modal-gutter-2x);    
  }

  .dialogError {
    margin-top: var(--modal-gutter-2x);    
    color: var(--theme-error-color);
  }